#newsletter-posts {
  .card-columns {
    column-count: 2;
    .card {
      border-radius: 0;
      border: none; // margin: .65rem;
      .card-body {
        .post-label-ct {
          margin-right: -1.25rem;
          margin-top: -1.25rem;
          position: unset;
          float: right;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #newsletter-posts {
    .card-columns {
      -webkit-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 1.25rem;
      column-gap: 1.25rem;
    }
  }
}
