//** WRAPPER
.wrapper {
	background: #000;
	overflow: hidden;
	padding-top: 2.5rem;
	padding-bottom: 0;
	.container {
		padding-top: 1.25rem;
		background-color: white;
	}
}
#full-width-page-wrapper {
	padding-top: 10.5rem;
	#content {
		padding-top: 0;
	}
}

@media (max-width:991px) {
	#full-width-page-wrapper {
		padding-top: 7.5rem;
	}
}
@media (max-width:767px) {
	#full-width-page-wrapper {
		padding-top: 6rem !important;
	}
}

#main {
	#content.container {
		padding: 0;
	}
}

#wrapper-footer {
	padding-top: 0;
	.container {
		padding: 0;

	}
}

.footer-utility-wrapper{
	background:#000;

	.utility-footer-ct{
	font-size:.7em;
	color:#dedede;	
	text-align:center;
	padding-bottom:32px;

		a.utility-footer{
			color:#dedede;
	
		}

		a.utility-footer:after{
			content:'  |  ';
			margin: 0 4px;
		}

		a.utility-footer:last-of-type:after{
			content:'';
		}
	}
}
.copyright-ct{
	display:block;
	width:100%;
	text-align: center;
	color:#dedede;
	font-size:.7em;
	padding:32px 0;
}

.footer-utility{
	padding:0px 0 32px 0;
}

.single-column-content{
	max-width:720px;
	margin:0 auto;
}

.double-sep{
	
}

@media (max-width:767px) {
	.wrapper,
	#main {
		padding-top: 0 !important;
	}
	.wrapper-navbar {
		border-bottom: 1px solid #eee;
	}
}

//** TABLES
.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd !important;
}

//** UTILITY NAV
.utility-bar {
	z-index: 200;
	width: 100%;
	background: #f2f2f2;
	height: 40px;
	display: flex;
	justify-content: flex-end;

	.header-phone-ct {
		padding: 4px 8px 8px;
		font-size: .9rem;
		font-weight: 500;
	}

	.header-email-ct {
		padding: 3px 10px 3px 2px;
		.fa-envelope{
			&:before {
				content: "\f0e0";
				font-family: FontAwesome;
				color: #000;
				font-style: normal;
			}
		}
	}
	.fa-envelope{
		&:before {
			content: "\f0e0";
			font-family: FontAwesome;
			color: #000;
			font-style: normal;
		}
	}

	.menu-utility-nav-container {
		width: 100%;
		overflow: hidden;
		.menu {
			display: flex;
			justify-content: flex-end;
			padding: 0;
			.is-menu form label {
				display: none;
			}
			> li {
				display: flex;
				padding: .5rem .6rem;
			}
			.is-menu {
				form {
					top: 0;
					opacity: 0;
					transition: opacity 0.6s ease-in-out;
					-webkit-transition: opacity 0.6s ease-in-out;
					-moz-transition: opacity 0.6s ease-in-out;
					input, .btn {
						border-radius: 0;
						border: 2px solid #f2f2f2;
					}
					.btn {
						background: #f2f2f2;
						color: black;
					}
					textarea:focus, input:focus {
						outline: none;
						box-shadow: 0 0 0 0 rgba(0,255,255,0)
					}
				}
				&.open {
					position: unset;
					form {
						opacity: 1;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 910px) {
	.is-menu form {
		left: auto;
	}
}
//** NAVBAR

#wrapper-navbar {
	background: white;
	width:100%;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	z-index: 9999;
	top: 0;
	position: fixed;

	/* animation magic */
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	.utility-bar {
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
	}
	.navbar-brand {
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
	}

	// shrink state
	&.shrink {
		.utility-bar {
			margin-top: -75px;
		}
		.navbar-brand {
			max-width: 140px;
			transition: all 0.4s ease-out;
		}
	}
}

// changes when in admin view
body.logged-in.admin-bar {
	#wrapper-navbar {
		top: 32px;
	}
}

@media screen and (max-width: 782px) {
	body.logged-in.admin-bar {
		#wrapper-navbar {
			top: 46px;
		}
	}
}

.navbar {
	padding: .5rem 0;
}
.navbar-nav {
	.dropdown {
		&:hover {
			.dropdown-menu {
				display:block;
			}
		}
	}
	.nav-link {
		border-bottom: none;
	}
	padding-bottom: 0;
	padding-right: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0;
	margin: 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #f2f2f2;
	background-clip: padding-box;
	border: 0;
	border-radius: 0;
	padding-top: .5rem;
	padding-bottom: .5rem;
	// border: 1px solid rgba(0, 0, 0, 0.15);
	// border-radius: 0.25rem;
}

@media (max-width: 767px) {
	.navbar-nav .nav-link {
		border-top: 3px solid #fff;
		border-bottom: none;
	}

	.navbar-expand-md {
		.navbar-collapse >ul {
			padding-bottom: 1.5rem;
		}
	}
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 0) {  
	.navbar-brand {
		max-width: 140px;
	} 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {   
	.navbar-brand {
		max-width: 140px;
	}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
	.navbar-brand {
		max-width: 100%;
	}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.navbar-brand {
		max-width: 100%;
	}
}


//** BUTTONS
.btn-dark {
	border-radius: 0;
}

.btn-secondary {
	font-family: 'Playfair Display', serif !important;
	color: #fff !important;
	background-color: #000;
	&:hover {
		color: #000;
		background-color: #f2f2f2;
	}
	&:focus,
	&.focus {
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

//** SEARCH FORM
// when in content-section
body.search {
	.page-title span.page-query {
		color: $gray-600;
	}
}
#search,
#search_header {
	background: $light-gray;
	form {
		input, .btn {
			border-radius: 0;
			border: 1px solid $gray-400;
		}
		.btn {
			background:  $gray-800;
			color: #fff;
		}
		textarea:focus, input:focus {
			outline: none;
			box-shadow: 0 0 0 0 rgba(0,255,255,0)
		}
	}
}


//** CARDS
.card {
	margin-top: 2rem;
	border: 1px solid #eee !important;
	border-radius: 0;
	border: none; // margin: .65rem;
	.card-body {
		.post-label-ct {
			margin-right: -1.25rem;
			margin-top: -1.25rem;
			position: unset;
			float: right;
		}
	}
}

.card-img-top {
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	img {
		width: 100%;
	}
}

.card-columns {
	-webkit-column-count: 3;
	column-count: 3;
}

@media (max-width:767px) {
	.card-columns {
		-webkit-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 1.25rem;
		column-gap: 1.25rem;
	}
}


// Ajax Load More
// .alm-reveal {
// 	display: flex;
// 	flex-wrap: wrap;
// }

.view-more-button {
	// margin: 2rem 0;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: 'Playfair Display',serif;
    font-size: 20px;
    padding: 8px;
}
.view-more-button-container {
	padding: 15px;
}

.loader-wheel {
	display: none;
	font-size: 64px; /* change size here */
	position: relative;
	height: 1em;
	width: 1em;
	padding-left: 0.45em;
	overflow: hidden;
	margin: 0 auto;
	animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
	display: block;
	position: absolute;
	height: 0.3em;
	width: 0.1em;
	border-radius: 0.05em;
	background: #333; /* change color here */
	opacity: 0.8;
	transform: rotate(-30deg);
	transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

// subscribe form 
@media (max-width:991px) {
	#subscribe_form,
	.subform {
		.section-headline-ct {
			padding: 0 15px;
		}
	}
}

//**FOOTER

