// VARS

//** PAGE
// blank
// both-sidebarspage
// empty
// fullwidthpage
// left-sidebarpage
// right-sidebarpage
// landing page
@media (max-width:767px) {
	#testimonials {
		.col-sm-12 {
			padding: 1.25rem 0;
		}
	}
}
// leadership
body.page-template-people {
	.row.leadership-team {
		// background-color: $orangered;
		.leadership-team-title {
			color: white;
			text-align: center;
			margin-top: 30px;
		}
		article {
			.entry-content {
				text-align: center;
				background-color: white;
				margin: 15px 0;
				padding: 30px;
			}
			.people-bio-image {
				text-align: center;
				img {
					border-radius: 50%;
				}
			}
			.people-bio-info {
				h2 {
					font-size: 2rem;
				}
				h3 {
					font-size: 1.3rem;
				}
			}
		}
	}
}
// About Pages
body.page-template-about,
body.page-template-clients,
body.page-template-projects,
body.page-template-people {
	.jumbotron {
		background: $orangered;
	}
}

// Services Pages
body.page-template-services {
	.jumbotron {
		background: $yellowgreen;
	}
}

// Resource Pages
body.page-template-resources,
body.page-template-newsletters,
body.page-template-downloads,
body.page-template-videos, {
	.jumbotron {
		background: $blue;
	}
}

// Podcasts
body.page-template-podcasts, {
	.jumbotron {
		background: $orangered;
	}
}

// Blog 
body.page-template-blog, {
	.jumbotron {
		background: $yellowgreen;
	}
}

// Blog 
body.page-template-contact, {
	.jumbotron {
		background: $blue;
	}
}

//** PAGES

body.page-template-clients {
	#testimonials {
		background: $yellowgreen;
		.entry-content {
			padding: 32px;
			border: 1px solid white;
		}
		.quote-text {
			color: white;
		}
	}
}

//** POST
// blog

// downloads
// newsletters
body.page-template-newsletters {
	#newsletter-posts {
		.card-columns {
			-webkit-column-count: 2;
			column-count: 2;
		}
	}
}

// people
body.people-template-default {
	header.row.people-title {
		text-align: center;
		h2 {
			color: #a2a1a6;
			span {
				color: #231f20;
				font-weight: 600;
			}
		}
	}
	section.row {
		// margin-bottom: 50px;
		padding: 3rem;
	}

	section.row.people-intro {
		background-color: $orangered;
		.people-image {
			text-align: right;
			img {
				height: 325px;
				width: 325px;
				border-radius: 50%;
			}
		}
		.people-intro-bio p {
			font-family: 'Playfair Display',serif !important;
			color: white;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.25;
			margin-right: 30px;
		}
	}

	section.row.people-content {
		aside {
			div {
				margin-bottom: 15px;
				a {
					color: $orangered;
					font-family: "Playfair Display";
					font-size: 1.5rem;
					font-weight: 600;
					&:before {
						background: $orangered;
						color: white;
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: 1.5rem;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						line-height: 1;
						padding: 8px 10px;
					}
				}
			}
			div.email a:before {
				content: "\f0e0";
				font-size: 1.25rem;
				padding: 9px 11px;
			}
			div.social a:before {
				content: "\f099";
			}
		}
		p:first-child {
			font-family: 'Playfair Display',serif !important;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.25;
		}
	}
}
// podcasts
// videos

// subscribe form
.form-subscribe {
	background-color: #f2f2f2;
    background-image: url(/wp-content/uploads/SawCutOut_white_600x600.png);
    background-repeat: no-repeat;
    background-position: 200px 50px;
    background-size: 300px 300px;
}

// sidebars

.sidebar-item{
	display:block;
	position:relative;
	overflow:hidden;
	padding:16px;
	text-align:center;
}

.subway-ct{
	display:block;
	position:relative;
	overflow:hidden;
	margin:auto;
	text-align:center;
	padding: 0 auto;
	margin:6px auto;
}
.subway{
		display:block;
	position:relative;
	overflow:hidden;
	font-family:'MuseoSans-700', sans-serif !important;
	float:left;
	width:24px;
	height:24px;
	font-size:.8em;
	color:#fff;
	border-radius:50%;
	text-align:center;
	padding:7px 0 0 0;
	margin:8px 4px;
	line-height:100%;
}

/******************************  GENERAL LAYOUT STYLES  ******************************/

.fleft{
	float:left;
}

.red{
	color:$orangered;
}

a, a:hover{
	text-decoration:none !important;
}


.semibold{
	font-family:'MuseoSans-700', sans-serif !important;
}

/******************************  MASONRY PACKERY GRID STYLES  ******************************/


.grid, .client-logo-grid{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0px auto;
}



.grid-item img{
	width:100%;
	display:block;
}

.grid-item-w-25{
	width:25%;
	float:left;
}
	
.grid-item-w-33{	
	width:33.33%;
}
	
.grid-item-w-40{
	width:40%;
}
	
.grid-item-w-50{
	width:48.5%;
}
	
.grid-item-w-67{
	width:66.7%;
}
	
.grid-item-w-75{
	width:75%;
	float:left;
}
	
.grid-item-w-100{
	width:96%;
}





/******************************  NEWSLETTER GRID STYLES  ******************************/



h2.newsletter,  h2.newsletter a{
	color:$blue;
}


/******************************  ARTICLE GRID STYLES  ******************************/



h2.article, h2.article a{
	color:$yellowgreen;
}



/******************************  PODCAST GRID STYLES  ******************************/

.podcast-inset{
	width:100%;
	border:1px solid #dedede;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	margin:24px 0;
	background:#f2f2f2;
}

.podcast-details{
	padding:16px;
}

.podcast-details, podcast-details a{
	color:#000;
	
}

h2.podcast, h2.podcast a{
	color:$orangered;
}

.podcast-image{
	border-right:1px solid #dedede;
}

@media (max-width:767px) {
	.grid-item-w-50{
	width:100%;
}

.excerpt , .excerpt a{
	color:#666 !important;
	font-size:1.2em;
}

.date, .date a{
	font-size:1.2em;
}

	}



//** PODCAST GRID STYLES

.podcast-inset {
	width: 100%;
	border: 1px solid #dedede;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 24px 0;
	background: #f2f2f2;
}

.podcast-details {
	padding: 16px;
}

.podcast-details,
.podcast-details a {
	color: #000;
}

.red {
	color: $orangered;
}

.semibold {
	font-weight: 700;
}

@media (max-width:767px) {
	.navbar-nav .nav-link {
		border-top: 3px solid #fff;
		border-bottom: 1px solid #dedede;
	}
}

.w-25 {
	width: 50% !important;
}

.post-feed-grid .w-50 {
	width: 44% !important;
}

@media (max-width:767px) {
	.fleft {
		float: none;
	}
	.bio-image-ct {
		float: none;
		margin: 0 auto !important;
	}
	.w-25 {
		width: 100% !important;
	}
	.w-50 {
		width: 100% !important;
	}
	.post-feed-grid .w-50 {
		width: 100% !important;
	}
}
