// testimonials

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 0) {  
	.section-testimonials {
		&.card-columns {
			column-count: 1;
		}
	}
}
@media (min-width:767px) {
	.section-testimonials {
		&.card-columns {
			column-count: 2;
		}
	}
}

.section-testimonials {
	.card {
		background-color: $yellowgreen;
		border: none !important;
		margin: 0;
	}
	.card-body {
		padding: 0;
	}
	.testimonial-ct {
		border: 1px solid #fff;
		padding: 32px;
		color: #fff;
		position: relative;
		margin: 22px 10px;
		font-size:1.25em;
	}
	
	.open-quote {
		display: block;
		background: url("../img/quote_open.png");
		background-color: $yellowgreen;
		background-repeat: no-repeat;
		background-size: 31px;
		width: 37px;
		height: 27px;
		padding: 16px;
		position: absolute;
		left: -8px;
		top: -1px;
		background-position-y: top;
		background-position-x: left;
	}
	
	.close-quote {
		display: block;
		background: url("../img/quote_close.png");
		background-color: $yellowgreen;
		background-repeat: no-repeat;
		background-size: 31px;
		width: 37px;
		height: 27px;
		padding: 15px 14px;
		position: absolute;
		right: -8px;
		bottom: -1px;
		background-position-y: bottom;
		background-position-x: right;
	}
	.quote-attrib {
		color: #000;
		line-height: 120%;
	}
}

// team bios
.people-bio {
	text-align: center;
	.people-bio-image {
		padding: 2.5rem 2.5rem 1rem 2.5rem;
		img {
			border-radius: 50%;
		}
	}
	.people-bio-info {
		h3 {
			margin-top: 0;
		}
	}
}

@media screen and (max-width:992px) {
	.people-bio {
		text-align: center;
		.people-bio-image {
			padding: 1rem;
		}
	}
	.people-bio-info {
		h3 {
			font-size: 1.75rem;
		}
	}
}
@media screen and (max-width:767px) {
	.people-bio {
		text-align: center;
		.people-bio-image {
			padding: 2.5rem 2.5rem 1rem 2.5rem;
			img {
				border-radius: 50%;
			}
		}
		.people-bio-info {
			h3 {
				font-size: 2rem;
			}
		}
	}
}

// projects

.project-title{
	color: $light-gray;
}

.project-wrapper{

	// background-image:url(../img/section_sepBK.png);
		// background-repeat: repeat-x;
		// background-position:bottom;
		// padding-top: 6.75rem;
		padding-bottom:24px;
		// margin-bottom:24px;
	h1{
		text-align:center;
		padding:24px 0;
	}

	h2{
		margin-top:24px;
	}

	h4{
		color:#999;
	}


	.project-intro{
		background-image:url(../img/section_sepBK.png);
		background-repeat: repeat-x;
		background-position:bottom;
		padding-bottom:24px;
		margin-bottom:24px;
	}

	.project-section:last-of-type{
		background:none;
	}

	.project-section{
		background-image:url(../img/section_sepBK.png);
		background-repeat: repeat-x;
		background-position:bottom;
		padding-bottom:24px;
		margin-bottom:24px;

		h2{
			text-align:center;
			margin-bottom:24px;
		}

		img{
			display:block;
			width:100%;
			margin: 32px auto;
		}

		
			
	}

	.testimonial-ct {
		border: 1px solid #bbbdbf;
		padding: 32px;
		color: #808184;
		position: relative;
		margin: 22px 10px;

		.open-quote {
			display: block;
			background: url(../img/quote_open_green.png);
			background-color: #fff;
			background-repeat: no-repeat;
			background-size: 31px;
			width: 37px;
			height: 27px;
			padding: 16px;
			position: absolute;
			left: -8px;
			top: -1px;
			background-position-y: top;
			background-position-x: left;
		}

		.close-quote {
			display: block;
			background: url(../img/quote_close_green.png);
			background-color: #fff;
			background-repeat: no-repeat;
			background-size: 31px;
			width: 37px;
			height: 27px;
			padding: 15px 14px;
			position: absolute;
			right: -8px;
			bottom: -1px;
			background-position-y: bottom;
			background-position-x: right;
		}

		.quote-text{
			font-size:1.5em;
			color:#808184;
			line-height:160%;
		}

		.quote-attrib{
			font-size:1.5em;
			font-weight:600;
			color:#000;
			line-height:140%;
		}

	
	}

	.project-title{
		padding:24px 0;
	}

	.header-image{
		display:block;
		margin:0 auto;
		max-width:300px;

	}

	.project-banner{
		display:block;
		img {
			width: 100%;
			height: auto;
		}
	}
}

@media (max-width: 767px) {
	.project-wrapper {
		.entry-header,
		.single-column-content {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
		}
		h1 {font-size: 3rem;}
	}
}

// people

.job-title{
	color: $light-gray;
}

body.people-template-default {
	header.row.people-title {
		padding:24px 0;
		text-align: center;
		h2 {
			color: #a2a1a6;
			span {
				color: #231f20;
				font-weight: 600;
			}
		}
	}

	section.row {
		// margin-bottom: 50px;
		padding: 2rem 1em;
	}

	section.row.people-intro {
		background-color: $orangered;
		background-image: url(../img/saw_white_outlineDotted_1kx1k.png);
		background-repeat:no-repeat;
		background-size:45%;
		background-position:5% -5%;
		.people-image {
			text-align: right;
			img {
				height: 275px;
				width: 275px;
				border-radius: 50%;
			}
		}
		.people-intro-bio p {
			font-family: 'Playfair Display',serif !important;
			color: white;
			font-size: 2rem;
			font-weight: 500;
			line-height: 1.25;
			margin-right: 30px;
		}
	}


	section.row.people-content {

		aside {
			div {
				margin-bottom: 32px;
				a {
					color: $orangered;
					font-family: "Playfair Display";
					font-size: 1.5rem;
					font-weight: 600;
					&:before {
						background: $orangered;
						color: white;
						display: inline-block;
						font-family: 'FontAwesome';
						font-size: 1.5rem;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						line-height: 1;
						padding: 8px 10px;
					}
				}
				
			}

			div.email a:before {
				content: "\f0e0";
				font-size: 1.25rem;
				padding: 9px 11px;
			}
			div.social {
				&.none {
					display: none;
				}
				&.twitter {
					a:before {
						content: "\f099";
					}
				}
				&.facebook {
					a:before {
						content: "\f09a";
					}
				}
				&.pinterest {
					a:before {
						content: "\f0d2";
					}
				}
				&.instagram {
					a:before {
						content: "\f16d";
					}
				}
				&.linkedin {
					a:before {
						content: "\f08c";
					}
				}
			}
		}
		p:first-child {
			font-family: 'Playfair Display',serif !important;
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.5;
		}
	}
}
// podcasts

.podcast-detail-hero{
	background-color:#da5127;
	background-image:url(http://renegadellc.staging.wpengine.com/wp-content/uploads/saw_red_fade_1kx1k.png);
	background-repeat: no-repeat;
	background-size:60%;
	background-position:80% -8%;
	padding:32px 0 0;
}

.podcast-profile-image-ct{
	background-image:url(http://renegadellc.staging.wpengine.com/wp-content/uploads/rtu_profile_background_image.png);
	background-size: contain;
	background-repeat:no-repeat;
	background-position: right bottom;
}
.podcast-profile-image img{
	width:100%;
	border-radius:50%;
	border: 2px dotted #ccc;
}

.podcast-detail-info{

	h1{
		line-height:110%;
		margin-bottom:24px;
	}

	.date{
		font-size:1.5em;
		color:#fff;
		font-weight:500;
		margin-top:8px;
	}
	img{
		max-width:90%;
	}

	.podcast-guest-details{
		font-size:1.5em;
		color:#fff;
		font-weight:300;
	}

}

.podcast-player-ct{
	background-image:url(http://renegadellc.staging.wpengine.com/wp-content/uploads/rtu_podcast_player_background.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:bottom;
	width:100%;
	padding:40px 0 0 0;

	iframe{
		margin:0 auto;
		max-width:720px;
		text-align:center;
		width:90%;
		display:block;
		border:2px solid #000;
	}
}

.podcast-content{
	margin:8px 0 0 0;

	a{
		color:#da5127;
	}

	h2{
		
		margin:24px 0 24px 0;
		padding:24px 0 0 0;
		width:100%;
		background:url(../img/section_sepBK.png) repeat-x top;
	}

	h2:first-of-type{
		background:none;
	}

	h3, h4{
		color:#da5127;
		margin:24px 0 12px 0;
	}

	li{
		margin-bottom:8px;
	}

	ol, ul{
		margin-top:16px;
	}

	
}

@media (max-width:991px) {
	body.single-podcasts {
		.podcast-content {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
@media (max-width:767px) {
	body.single-podcasts {
		.podcast-profile-image-ct {
			padding: 0 2rem 2rem;
		}
		.podcast-detail-info {
			padding-left: 2rem;
			padding-right: 2rem;
			.date {
				font-size: 1.5rem;
			}
			h1 {
				font-size: 2.5rem;
			}
			.podcast-guest-details {
				font-size: 1.5rem;
			}
		}
		.podcast-player-ct {
			padding: 25px 0 0 0;
		}
		.podcast-content {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

.quote-ct{
	margin:24px 0;
	font-size:1.25rem;
}
.quote{
	display:block;
	line-height: 1.75rem;
}

.quote:before{
	content: '\201C';
	display:inline-block;
	font-family: 'Playfair Display',serif !important;
	// font-size:48px;
	font-size: 2.5rem;
	line-height: 0;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

.quote:after{
	content: '\201D';
	font-family: 'Playfair Display',serif !important;
	// font-size:48px;
	font-size: 2.5rem;
	line-height: 0;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

// newsletters
.newsletter-banner{
	display:block;
	img {
		width: 100%;
		height: auto;
	}
}

.newsletter-content{

	a{
		color:$blue;
	}
	.newsletter-section{
		border-left:1px solid #f2f2f2;
		border-right:1px solid #f2f2f2;
		padding:24px 24px 16px 24px;
	}

	.newsletter-section:nth-child(odd){
		background-color:#fff;
	}

	.newsletter-section:nth-child(even){
		background-color:#f2f2f2;
	}

	.final-note{

		background-image:url(../img/section_sepBK.png);
		background-repeat: repeat-x;
		background-position: top;
		padding:24px;
		font-family: 'Playfair Display',serif !important;
		font-size: 1.5em;
	}

	h1{
		margin-top:24px;
	}

	h3{
		color:$blue;
		margin-bottom:12px;
	}
	.newsletter-date{
		font-size:1.5em;
		font-weight:500;
		margin:16px 0 16px 0;
	}

	
	.newsletter-intro{
		background:url(../img/section_sepBK.png) repeat-x bottom;
		padding-bottom:12px;
	}

	.newsletter-intro p:first-of-type{
		font-family: 'Playfair Display',serif !important;
		font-size: 1.75em;
	}

	.newsletter-intro p:nth-of-type(2), .newsletter-intro p:nth-of-type(3){
		font-size: 1.25em;
		line-height:180%;
	}

	.newsletter-text{
		line-height: 180%;
	}
}


@media (max-width:991px) {
	body.single-newsletters {
		.newsletter-title, 
		.newsletter-date,
		.newsletter-intro {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
		.newsletter-title h1 {
			font-size: 2.5rem;
		}
		.newsletter-date,
		.newsletter-intro {
			font-size: 1.5rem;
			p:first-of-type {
				font-size: 1.5rem;
				line-height: 2rem;
			}
			p:nth-of-type(2) {
				font-size: 1.2rem;
				line-height: 2rem;
			}
		}
		.newsletter-content,
		.newsletter-text {
			line-height: 2rem;
		}
	}
}


// videos

// subscribe form
.form-subscribe {
	background-color: #f2f2f2;
    background-image: url(/wp-content/uploads/SawCutOut_white_600x600.png);
    background-repeat: no-repeat;
    background-position: 200px 50px;
    background-size: 300px 300px;
}

// sidebars



.sidebar-item{
	display:block;
	position:relative;
	overflow:hidden;
	padding:16px;
	text-align:center;
}

.subway-ct{
	display:block;
	position:relative;
	overflow:hidden;
	margin:auto;
	text-align:center;
	padding: 0 auto;
	margin:6px auto;
}
.subway{
		display:block;
	position:relative;
	overflow:hidden;
	font-family:'MuseoSans-700', sans-serif !important;
	float:left;
	width:24px;
	height:24px;
	font-size:.8em;
	color:#fff;
	border-radius:50%;
	text-align:center;
	padding:7px 0 0 0;
	margin:8px 4px;
	line-height:100%;
}

/******************************  GENERAL LAYOUT STYLES  ******************************/

.fleft{
	float:left;
}

.red{
	color:$orangered;
}

a, a:hover{
	text-decoration:none !important;
}


.semibold{
	font-family:'MuseoSans-700', sans-serif !important;
}

/******************************  MASONRY PACKERY GRID STYLES  ******************************/


.grid, .client-logo-grid{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0px auto;
}

.grid-item img{
	width:100%;
	display:block;
}

.grid-item-w-25{
	width:25%;
	float:left;
}
	
.grid-item-w-33{	
	width:33.33%;
}
	
.grid-item-w-40{
	width:40%;
}
	
.grid-item-w-50{
	width:48.5%;
}
	
.grid-item-w-67{
	width:66.7%;
}
	
.grid-item-w-75{
	width:75%;
	float:left;
}
	
.grid-item-w-100{
	width:96%;
}


/******************************  NEWSLETTER GRID STYLES  ******************************/


h2.newsletter,  h2.newsletter a{
	color:$blue;
}


/******************************  ARTICLE GRID STYLES  ******************************/


h2.article, h2.article a{
	color:$yellowgreen;
}


/******************************  PODCAST GRID STYLES  ******************************/

.podcast-inset{
	width:100%;
	border:1px solid #dedede;
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	margin:24px 0;
	background:#f2f2f2;
}

.podcast-details{
	padding:16px;
}

.podcast-details, podcast-details a{
	color:#000;
	
}

h2.podcast, h2.podcast a{
	color:$orangered;
}

.podcast-image{
	border-right:1px solid #dedede;
}

@media (max-width:767px) {
	.grid-item-w-50{
	width:100%;
}

.excerpt , .excerpt a{
	color:#666 !important;
	font-size:1.2em;
}

.date, .date a{
	font-size:1.2em;
	}
}



//** PODCAST GRID STYLES

.podcast-inset {
	width: 100%;
	border: 1px solid #dedede;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 24px 0;
	background: #f2f2f2;
}

.podcast-details {
	padding: 16px;
}

.podcast-details,
.podcast-details a {
	color: #000;
}

.red {
	color: $orangered;
}

.semibold {
	font-weight: 700;
}

@media (max-width:767px) {
	.navbar-nav .nav-link {
		border-top: 3px solid #fff;
		border-bottom: 1px solid #dedede;
	}
}

.w-25 {
	width: 50% !important;
}

.post-feed-grid .w-50 {
	width: 44% !important;
}

@media (max-width:767px) {
	.fleft {
		float: none;
	}
	.bio-image-ct {
		float: none;
		margin: 0 auto !important;
	}
	.w-25 {
		width: 100% !important;
	}
	.w-50 {
		width: 100% !important;
	}
	.post-feed-grid .w-50 {
		width: 100% !important;
	}
}


//** SEARCH CONTENT

@media (max-width:991px) {
	#search_content {
		padding: 0;
	}
}


// zype video player 
iframe.zype-player {
	height: 490px;
	width: 865px;
}

@media (max-width:1139px) {
	iframe.zype-player {
		height: 375px;
		width: 675px;
	}
}

@media (max-width:991px) {
	iframe.zype-player {
		height: 260px;
		width: 460px;
	}
}

@media (max-width: 767px) {
	iframe.zype-player {
		height: 171px;
		width: 300px;
	}
}
