//** WRAPPER
.wrapper {
	padding-top: 2.5rem;
	padding-bottom: 0;
	background: #000;
	.container {
		padding-top: 1.25rem;
		background-color: white;
	}
}
#full-width-page-wrapper {
	#content {
		padding-top: 0;
	}
}

#main {
	#content.container {
		padding: 0;
	}
}

#wrapper-footer {
	padding-top: 0;
	.container {
		padding: 0;
		background-color: #414042;
	}
}

@media (max-width:767px) {
	.wrapper,
	#main {
		padding-top: 0 !important;
	}
	.wrapper-navbar {
		border-bottom: 1px solid #eee;
	}
}

//** TABLES
.table-bordered th,
.table-bordered td {
	border: 1px solid #ddd !important;
}

//** NAVBAR
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: none;
}

.nav-link.disabled {
	color: #000;
	text-transform: uppercase;
}

.nav-link.disabled {
	color: #000;
	text-transform: uppercase;
}

a.nav-link {
	font-size: .8rem;
	color: #000;
	text-transform: uppercase;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
	margin-bottom: -1px;
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
	color: #6c757d;
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nav-pills .nav-link {
	border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: $purple;
}

.nav-fill .nav-item {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	text-align: center;
}

.nav-justified .nav-item {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
}

.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 0rem .5rem 1rem;
}

.navbar>.container,
.navbar>.container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	display: inline-block;
	padding: .5rem .5rem .5rem 0.75rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	max-width: 18rem;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
}

@media (max-width:767px) {
	.navbar-brand {
		max-width: 140px;
	}
}

@media (max-width:767px) {
	.navbar-brand {
		width: 140px;
	}
}

.navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 16px;
}
.navbar-nav .nav-item {
	color: black;
	font-size: .8rem;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown:hover {
	.dropdown-menu {
		display: block;
	}
	> a {
		background-color: #f2f2f2;
	}
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0rem;
	color: #fff;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
	text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.navbar-toggler-icon {
	font-family: 'FontAwesome';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "\f0c9";
	background: no-repeat center center;
	background-size: 100% 100%;
	color: #000;
}

.show>.nav-link {
	background-color: #f2f2f2;
}

ul.dropdown-menu.show {
	border: none;
	border-radius: 0px;
}

//** BUTTONS
.btn-secondary {
	font-family: 'Playfair Display', serif !important;
	color: #fff !important;
	background-color: #000;
	&:hover {
		color: #000;
		background-color: #f2f2f2;
	}
	&:focus,
	&.focus {
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0;
	margin: 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #f2f2f2;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

//** CARDS
.card {
	margin-top: 2rem;
	border: 1px solid #eee !important;
	border-radius: 0;
	border: none; // margin: .65rem;
	.card-body {
		.post-label-ct {
			margin-right: -1.25rem;
			margin-top: -1.25rem;
			position: unset;
			float: right;
		}
	}
}

.card-img-top {
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card-columns {
	-webkit-column-count: 3;
	column-count: 3;
}

@media (max-width:767px) {
	.card-columns {
		-webkit-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 1.25rem;
		column-gap: 1.25rem;
	}
}


// Ajax Load More
// .alm-reveal {
// 	display: flex;
// 	flex-wrap: wrap;
// }

.view-more-button {
	margin: 2rem 0;
}

.loader-wheel {
	display: none;
	font-size: 64px; /* change size here */
	position: relative;
	height: 1em;
	width: 1em;
	padding-left: 0.45em;
	overflow: hidden;
	margin: 0 auto;
	animation: loader-wheel-rotate 0.5s steps(12) infinite;
}

.loader-wheel i {
	display: block;
	position: absolute;
	height: 0.3em;
	width: 0.1em;
	border-radius: 0.05em;
	background: #333; /* change color here */
	opacity: 0.8;
	transform: rotate(-30deg);
	transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}