#renegade_services,
#services {
    .image-text-wrapper {
        .bt-fixed {
            padding: 0 24px;
        }
    }
}

// when header text stack breaks to 2 lines
@media (min-width: 992px) {  
	#renegade_services,
    #services {
        .image-text-wrapper {
            .image-text-stack {
                min-height: 8rem;    
            }
        }
    }
}

// when header text stack breaks to 3 lines
@media (min-width: 1200px) {  
	#renegade_services,
    #services {
        .image-text-wrapper {
            .image-text-stack {
                min-height: 5rem;    
            }
        }
    }
}